[submodule "dnsmasq/dnsmasq-china-list"]
	path = dnsmasq/dnsmasq-china-list
	url = https://github.com/felixonmars/dnsmasq-china-list.git
[submodule "Tcp-DNS-proxy/Tcp-DNS-proxy"]
	path = Tcp-DNS-proxy/Tcp-DNS-proxy
	url = https://github.com/henices/Tcp-DNS-proxy.git
